# Importing all the packages

In [32]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np
dataset=sns.load_dataset('titanic')
sns.get_dataset_names()

C:\Users\h363752\AppData\Local\Continuum\anaconda3\lib\site-packages\seaborn\utils.py:376: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file C:\Users\h363752\AppData\Local\Continuum\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [33]:

dataset.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [34]:
dataset['embark_town'] = pd.get_dummies(dataset['embark_town']).values

# Overview of our data frame

In [36]:
dataset.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,0,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,1,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,0,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,0,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,0,no,True

In [19]:
dataset.describe()

,survived,pclass,sex,age,sibsp,parch,fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.352413,29.699118,0.523008,0.381594,32.204208
std,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

# Making contigency matrix
Survived=> 0: not survived 1: survived
Sex => 0:Male 1:Female

In [37]:
dataset_table=pd.crosstab(dataset['embark_town'],dataset['survived'])
print(dataset_table)

survived       0    1
embark_town
0            474  249
1             75   93

# Ho = No relationship between gender and survived
# Ha= relationship between gender and survived

In [38]:
#Observed Values
Observed_Values = dataset_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[474 249]
 [ 75  93]]

In [39]:
chiStats = stats.chi2_contingency(observed= dataset_table.values)

In [40]:
print ((chiStats[0], chiStats[2]))

(24.34294028991685, 1)

In [41]:
observed_chi_val = chiStats[0]

## Level of significance

In [42]:
alpha = 0.05

In [43]:
critical_value =  stats.chi2.ppf(q = 1 - alpha, # Find the critical value for 95% confidence*
                      df = chiStats[2]) #degree of freedom

In [44]:
print(critical_value)

3.841458820694124

In [45]:
if observed_chi_val <= critical_value:
    # observed value is not in critical area therefore we accept null hypothesis
    print ('Null hypothesis cannot be rejected (variables are not related)')
else:
    # observed value is in critical area therefore we reject null hypothesis
    print ('Null hypothesis cannot be accepted (variables are related)')

Null hypothesis cannot be accepted (variables are related)